:root {
    --FontColor:white;
    --SecondaryColor: #d6c499;
}

body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-image: url('../../Images/TissueBackGround.jpg'); 
}