
nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b1a51;

    color:rgba(230 , 230, 230);

    border-bottom: 0.25px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}

.logo {
    height: 100%;
    width: 200px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.S {
    font-size: 30px
}

.btns {
    height: 100%;
    display: flex;
    align-items: center;
}

.btns .btn {
    padding: 7px 25px;

    margin-right: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 18px;
}

.dropmenu {
    position: relative;
}

.menu {
    background-color: rgb(255, 255, 255 , 0.7);
    position:absolute;
    top: 35px;
    right: 80px;
    width: 250px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.menu a {
    margin: 8px 0;
    padding: 5px 20px;
    width: 95%;
    background-color: rgb(0, 0, 0,0.05);
    display: flex;
    align-items: center;
    justify-content: right;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}