@import url('../Layouts/MainBody.css');
@import url('../Layouts/MainInput.css');

.form {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


