@import url('../Layouts/MainBody.css');

.Container {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

img {
    width: 200px;
    height: 200px;

    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.Data {
    margin-left: 20px;
    width: calc(100vw - 220px) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.FirstColumn {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.SecondColumn {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.LastColumn {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: start;
}

.Field {
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 5px 20px;
    border-radius: 5px;
}

.Field span:nth-child(2) {
    color: #312aa0;
}

.Controller {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.Controller .Update {
    padding: 5px 20px ;
    background-color: green;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.Controller .Delete {
    padding: 5px 20px ;
    background-color: red;
    cursor: pointer;
    color: white;
    font-weight: bold;
}